@model GMS___Web_Client.Models.EventModel

@{
    ViewBag.Title = "SearchEvents";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/popper")
@Scripts.Render("~/bundles/bootstrap")


<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<script src="~/JavaScript/search-table-control.js"></script>

<script type="text/javascript">
    function onSearchClick() {
        // Keywords
        var keywords = [];
        var keywordMatching = searchField.value.match(/\S+/g);
        if (keywordMatching != null) {
            for (i = 0; i < keywordMatching.length; i++) {
                keywords.push(keywordMatching[i].toLowerCase());
            }
        }

        // Event types
        var eventTypesSelections = $('#eventTypesSelectBox').select2('data');
        var selections = [];
        for (i = 0; i < eventTypesSelections.length; i++) {
            selections.push(eventTypesSelections[i].text);
        }

        getEvents(selections, keywords);
    }
</script>

<style>
    .mul-select-types, mul-select-roles {
        width: 100%;
    }

    .mul-select-roles {
        width: 100%;
    }

    input.select2-search__field::-webkit-input-placeholder {
        font-weight: bolder;
    }
    /* WebKit, Blink, Edge */
    input.select2-search__field:-moz-placeholder {
        font-weight: bolder;
    }
    /* Mozilla Firefox 4 to 18 */
    input.select2-search__field::-moz-placeholder {
        font-weight: bolder;
    }
    /* Mozilla Firefox 19+ */
    input.select2-search__field:-ms-input-placeholder {
        font-weight: bolder;
    }
    /* Internet Explorer 10-11 */
    input.select2-search__field::-ms-input-placeholder {
        font-weight: bolder;
    }
    /* Microsoft Edge */
</style>
<body>
    <h2>Search Events</h2>
    <br />
    <div class="form-row" style="width:60%">
        <div class="col input-group">
            <input id="searchField" type="text" class="form-control" placeholder="Input search keyword" />
            <div class="input-group-append">
                <input id="submitButton" type="submit" class="btn btn-outline-secondary" value="Search" onclick="onSearchClick()" />
            </div>
        </div>
        <div class="col">
            @Html.DropDownListFor(model => model.EventType, Model.EventTypes, new { @class = "mul-select-types", @multiple = "multiple", @id = "eventTypesSelectBox" })
            <!-- TODO Html.DropDownListFor Roles -->
        </div>
    </div>

    <br />
    <div>
        <table id="events-table" class="table table-striped table-hover"></table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="chooseRoleModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Pick role for event participation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <label for="eventID">Event ID</label>
                            <input type="text" id="eventIDinput" class="form-control" disabled>
                        </div>
                        <div class="col-9">
                            <label for="eventName">Event Name</label>
                            <input type="text" id="eventNameinput" class="form-control" disabled>
                        </div>
                    </div>
                    <br />
                    <label for="eventRole">Character role</label>
                    <input type="text" id="eventRole" class="form-control" aria-describedby="eventRole">
                    <small id="eventRole" class="form-text text-muted">
                        Usually when you participate in guild events, you can be assigned a specific role to play on battlefield. Some suggestions include: <br />
                        Assasin, Tank, Healer, Bruiser.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="registerButton">Register participation</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.mul-select-types').select2({
                placeholder: "All event types",
                allowClear: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.mul-select-roles').select2({
                placeholder: "All roles",
                allowClear: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            getEvents([], []);
        });
    </script>


    <!-- showing modal-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#chooseRoleModal').on('show.bs.modal', function (event) {
                // Getting a reference to this modal
                var modal = $(this);

                // Resetting the characterRole input on open
                modal.find('#eventRole').val("");

                var button = $(event.relatedTarget); // Button that triggered the modal
                var eventID = button.data('eventid'); // Extracts info from data-* attributes
                var eventName = button.data('ename');

                // Update modal's content (eventID and name field)
                modal.find('#eventIDinput').val(eventID);
                modal.find('#eventNameinput').val(eventName);
            })
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#registerButton').click(function () {
                var eventID = $("#chooseRoleModal #eventIDinput").val().trim();
                var characterRole = $("#chooseRoleModal #eventRole").val().trim();
                var signUpDateTime = new Date(new Date().toString() + 'Z').toISOString();
                joinEventWrap(eventID, characterRole, signUpDateTime);
            })
        })
    </script>

    <script type="text/javascript">
        function joinEventWrap(eventID, characterRole, signUpDateTime) {
            var characterName = '@ViewBag.Character.Name';
            joinEvent(eventID, characterName, characterRole, signUpDateTime);
        }
    </script>

    <div>
        @Html.ActionLink("Back to action list", "Index")
    </div>

    @*<script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle=tooltip]').tooltip();
            });
        </script>*@
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- select2 -->
    @Scripts.Render("~/bundles/select2")
    @Styles.Render("~/Content/css/select2")
    <!-- font-awesome -->
    @Styles.Render("~/Content/css/fontawesome")
}