@model GMS___Web_Client.Models.ApiModel

@{
    ViewBag.Title = "ApiForm";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter your api key </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ApiKey, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApiKey, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApiKey, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Api Key" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">
                    1. Open the official Guild Wars 2 API Key Management.
                </li>
                <li class="list-group-item">
                    2. Click on the "New Key" button.
                </li>
                <li class="list-group-item">
                    3. Enter a name of your choice and check all permission checkboxes.
                </li>
                <li class="list-group-item">
                    4. Copy your new API key. CTRL + C
                </li>
                <li class="list-group-item">
                    5. Paste it in the form above. CTRL + V
                </li>
                <li class="list-group-item">
                    6. Click the "Save new API key" button.
                </li>
                <li class="list-group-item">
                    7. You are set, have fun exploring your account!n
                </li>
            </ul>
        </div>
    </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
