
@{
    ViewBag.Title = "CharacterPage";
}

<h2>CharacterPage</h2>

<div class="row">
    <div class="col-md-8 list-group">
        <div class="flex-column align-items-start list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@ViewBag.Character.Name</h5>
                <small>@ViewBag.Character.Level</small>
            </div>
            <p class="mb-1">@ViewBag.Character.Race</p>
            <p class="mb-1">@ViewBag.Character.Profession</p>
            <small>@ViewBag.Character.Title</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 list-group">
        @foreach (var equipment in ViewBag.Equipment)
        {
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@equipment.Name</h5>
                    <small>@equipment.Level</small>
                </div>
                <p class="mb-1">@equipment.Rarity</p>
                <small>Value: @equipment.Vendor_value</small>
                <img src="@equipment.Icon" class="img-thumbnail" alt="Responsive image"/>
            </a>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4" aria-describedby="linkHelpBlock">
        @if (ViewBag.Character.Guild is null)
        {
            <img src="@Url.Content("~/Content/images/ezgif.com-gif-maker.gif")" />
            <small id="linkHelpBlock" class="form-text text-muted">
                In order to create and search events, your character needs to represant a guild. 
                When you become a guild representant, it can take a few minutes to process the change
                in order to display links.
            </small>
        }
        else
        {
            @Html.ActionLink("Create new guild event", "CreateEventForm", "Event", new { name = ViewBag.Character.Name }, null) <br>
            @Html.ActionLink("Find guild events", "SearchEvents", "Event", new { name = ViewBag.Character.Name }, null)
        }
    </div>
</div>

