@{
    ViewBag.Title = "User";
}

@Scripts.Render("~/bundles/jquery")
<script src="~/JavaScript/user.js"></script>

<div class="row">
    <div class="col-md-8 list-group">
        @for (var i = 0; i < ViewBag.Characters.Count; i++)
        {
            <a href="@Url.Action("CharacterPage", "User", new { name = ViewBag.Characters[i] })" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@ViewBag.Characters[i]</h5>
                    <small id="@i-Level">??</small>
                </div>
                <p id="@i-Race" class="mb-1">??</p>
                <p id="@i-Profession" class="mb-1">??</p>
                <small id="@i-Gender">??</small>
            </a>
        }
    </div>
    <div class="toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; left: 50%; bottom: 15%; transform: translate(-50%, 0px); z-index: 9999;">
        <div class="toast-header">
            <strong class="mr-auto">GMS</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Your characters are loading.
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var characters = @Html.Raw(Json.Encode(ViewBag.Characters));
            var apiToken = '@ViewBag.ApiToken';
            loadCharacters(characters, apiToken);
        });
</script>

<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>